* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: darkblue;
  line-height: 1.3;
  font-variant: small-caps;
}

input {
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}

label, p {
  margin: 10px;
}

textarea {
  resize: none;
}

legend {
  /* margin: 10px; */
  padding: 0 10px;
}

fieldset {
  margin: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  width: 350px;
  display: inline-block;
}

#fields {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.typeField {
  margin: 0;
}

.typeField label {
  margin-left: 20px;
}

form {
  
}
