div:hover {
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

div:nth-of-type(1) {
    background: red;
}

div:nth-of-type(2) {
    background-color: green;
}

div:nth-of-type(3) {
    background-color: aqua;
    padding: 1em;
}

div:nth-of-type(4) {
    background-color: darkblue;
}

div:nth-of-type(5) {
    background-color: lightpink;
}

div:nth-of-type(1) h3 {
    font-family: monospace;
}

div:nth-of-type(2) h3 {
    text-align: right;
    color: lightgrey;
}

div:nth-of-type(3) h3 {
    font-variant: small-caps;
}

div:nth-of-type(4) h3 {
    color: lightblue;

}

div:nth-of-type(5) h3 {
    letter-spacing: 3rem;
}

div:nth-child(odd) h3 {
    font-style: italic;
}