h1 {
    font-size: 65px;
    color:orange;
    font-family: sans-serif;
}
p {
  font-weight: 600;
  font-size: 3em;
}
ul {
    background-color:blueviolet;
    font-style: italic;
    line-height: 3;
    text-align: end;
    text-decoration: overline;
}
.background {
    background-color: dimgrey;
}
#amarelo {
  background-color: yellow;
}
#vermelho {
  background-color: red;
}
#marrom {
  background-color: brown;
}
body {
  font-size: 16px;
}