.super-mario {
    position: absolute;
    z-index: 1;
    width: 100px;
}

.goomba {
    position: absolute;
    z-index: 2;
    width: 100px;
    bottom: 200px;
}

.word {
    position: absolute;
    z-index: 5;
    width: 100px;
    right: 415px;
}

.baloon {
    position: absolute;
    z-index: 4;
    width: 130px;
    right: 400px;
}

.bowser {
    position: absolute;
    z-index: 3;
    width: 100px;
    bottom: 350px;
    right: 300px;
}